<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel='stylesheet' href='/stylesheets/cart.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">  
  </head>
  <body>

    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    <main>
<br> <div class="container"></div>
        <section class="Carrito">
<h1>Carrito de Compras </h1>

<div class="Carrito_Compras">

  <div class="Compra">
<div class="Descripción">
  <p>Producto</p>
  <p>Envio</p>
  <p>Precio</p>
  <p>Cantidad</p>
  <p>Total</p>
</div>

  <div class="Resultado">
    <div class="nombre">
  <img src="images/interior/albalatex_interior_10.jpg" alt="producto1">
  <p>Albalatex Interior 10 Litros</p>
</div>
  <p> <a href="/Envios"> Calcular Envío</p></a>
  <p>$ 4.585,70</p>
  <input type="number" min="0" name="CantidadDeProductos">
  <p>$ 4.585,70</p>



</div>


</div>


<div class="Compra_Total">
<div class="Subtotal">
  <h2>  Subtotal</h2>
  <br>
<p>$ 4.585,70</p>
<br>
<p>Calcular costos de envío</p>
</div>
<hr>
<div class="Total">
<h2>Total</h2>
<br>
<p></p>
</div>

</div>

</div>
</section>

<br>

<%for(let i = 0; i < productos.length; i++) { %>
  
                          <%=productos[i].name%>
  
                          Precio de lista $ <%=(productos[i].price * 1.05)%> 
                      
                     
  
                      
                          Oferta : $ <%=productos[i].price%>
                
  
            
                  
              
                  
            

      
  <% } %>  

<div>
<br>


          <!-- footer -->
          <%- include('partials/footer') %>
          <!-- /footer -->

</div>

</body>
</html>
