<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exteriores</title>
</head>
<body>
    <% if(error){%>
    <p><%= error + id %></p>
    <%}else {%>
    <p> Hola soy el producto <%= products1.id %></p><br>
    <p><%= products1.name %></p><br>
    <p><%= products1.codigo %></p><br>
    <p><%= products1.resenia %></p>
    <%}%>
</body>
</html>