<!DOCTYPE html>
<html>
  <head>
    <title>Detalle de Producto</title>
    <link rel='stylesheet' href='/stylesheets/productDetail.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>

     <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
      <main>
        <br>
        <hr>
        <br>
      <div class="product">
              <div class="container">
                        <div class= "imageproduct">
                          <img src="<%= product.image %>" alt="200px"> 
                        </div>
                        <div class="infoproduct">
                                  
                                    <div class= "nameproduct">
                                      <h1><%= product.name %></h1>
                                    </div>
                                    <div class="paymentproduct">

                                      <div class="presentation">
                                        <div class="prescontainer">
                                                          <div class="medidas"> 
                                                            <div class="medidasinfo">
                                                                  <h4>Medidas</h4>
                                                                  <h4>kg o litro o  colores</h4>
                                                            </div>
                                                        </div>
                                                        <div class="color">
                                                            <div class="colorinfo">
                                                            <h4>Color: no tiene</h4>
                                                            </div>
                                                        </div>
                                          </div>
                                      </div>
    
                                      <div class="price">
                                              <div class="productprice">
                                                <h3>  Precio</h3>
                                                <h1> $  <%= product.price %>  </h1>

                                              </div>

                                      </div>
                                <div class="buy">
                                       <div class="buycontainer">
                                        <div class="quantity"> 
                                          <div class="textinfo">
                                            <h3>-  1  +</h3>
                                            
                                          </div>
                                        </div>
                                        <div class="buyinfo">
                                          <i class="fas fa-shopping-cart"></i>
                                            <div class="textinfo">
                                              <h3>Agregar al carrito</h3>
                                              
                                            </div>
                                        </div>
                                        </div>
                              </div>

                                              <div class="pickupcontainer">
                                                <div class="pickupcontainerinfo">
                                                        <div class="method"> 
                                                        <div class="methodinfo">
                                                             <i class="far fa-credit-card"></i>
                                                                      <div class="textinfo">
                                                                        <h4>Medios de pago</h4>
                                                                         <h4><a href="">Ver promociones</a></h4>
                                                                         

                                                                        </div> 
                                                                    </div>
                                                             </div>
                                                        <div class="pick">
                                                                <div class="pickinfo">
                                                                         <i class="fas fa-shopping-bag"></i>
                                                                             <div class="textinfo">
                                                                              <h4>Retirá gratis en nuestras sucursales</h4>
                                                                                    
                                                                              </div>
                                                                             </div>
                                                                  </div>
                                                    
                                              </div>
                                              </div>
                          
                                  </div>
                                    
                          </div>
              </div> 
        

     
        <section class="descriptionproduct">
          <p>
            <h1>Descripcion</h1>
            <h2><%=product.description %></h2>
          </p>
          <br>
       
        </section> 
        <br>

        <div class="video">
          <iframe width="100%" height="468" src="https://www.youtube.com/embed/NFnQesw9E7M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        </div>

        </div>

       <div class="terciario">

        <section class="PromoImportante"> 
        <a href="https://www.cybermonday.com.ar/"><p><img src="/images/promoImportante.jpg" alt="PromoImportante"></p></a>
        </section>

      </div>


      </main>
                <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

    </div>
    
  </body>
</html>
